@font-face {
    font-family: 'Montsserat' ;
    src: url(./fonts/montserrat/Montserrat-Regular.otf);
}

body {
    margin: 20px;
    font-family: 'Montsserat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #d8dadb;
    margin: 20px 250px;
}

h1 {
    text-align: center;
    margin: 0
}
  
table {
    border: none;
    border-radius: 10px;
    border-collapse: collapse;
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    padding: 0 16px;
}

th {
    background-color: #363B3F;
    border-top: none;
    height: 32px;
    color:#A1A3A5;
    padding: 8px 24px;
}

th:nth-child(3) {
    text-align: end;
}

th:nth-child(7) {
    text-align: start;
    padding-left: 20px;
}

th:last-child, td:last-child,
th:first-child, td:first-child {
    padding: 0 40px;
}

tr {
    border-bottom: 1px solid #363B3F;
    background-color: #27282a;
    margin-bottom: 10px;
    color: white;
}

td {
    border: none;
    padding: 16px 16px;
    text-align: center;
}

td:last-child {
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:nth-child(1),  
td:last-child {  
    color: #A1A3A5;
}

td:last-child {
    text-align: start;
}

td:nth-child(3) {
    text-align: end;
}

.team1-cell, .team2-cell {
    display: flex;
    align-items: center;
}

.team1-cell {
    justify-content: flex-end;
}

.team1-cell * {
    margin-left: 20px;
}

.vs-img {
    margin: 0 20px;
}

.team2-cell {
    justify-content: flex-start;
}

.team2-cell * {
    margin-right: 20px;
}

.team-logo {
    width: auto;
    height: 19px;
}

.filters-container {
    display:flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
}

.input-filter, .select-filter {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}

select, input {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #363B3F;
    padding-left: 10px;
}
  