@font-face {
    font-family: 'Montsserat' ;
    src: url(./fonts/montserrat/Montserrat-Regular.otf);
}

body {
    margin: 20px;
    font-family: 'Montsserat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #bcbfc2;
}

App {
    width: 800px;
}  
  
table {
    border: none;
    border-radius: 10px;
    border-collapse: collapse;
    font-size: 14px;
    overflow: hidden;
    width: 100%;
}

th {
    background-color: #363B3F;
    border-top: none;
    height: 32px;
    color:#A1A3A5
}

tr {
    border-bottom: 1px solid #363B3F;
    background-color: #27282a;
    margin-bottom: 10px;
    color: white;
}

td {
    border: none;
    padding: 16px 20px;
    text-align: center;
}

tr:last-child {
    text-overflow: ellipsis;
    width: 100px;
}

td:nth-child(1),  
td:last-child {  
    color: #A1A3A5;
    text-align: start;
}

.team-logo {
    width: auto;
    height: 12px;
}

.filters-container {
    display:flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
}

.input-filter, .select-filter {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin: 10px;
    justify-content: space-around;
    align-items: center;
}

select, input {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #363B3F;
    padding-left: 10px;
}
  